### Odin requirements
# marker format to be compliant with setuptools
Flask == 0.10.1 ;python_version >= '3.4'
dnspython == 1.14.0 ;python_version >= '3.4'
pynamodb == 1.5.2 ;python_version >= '3.4'
moto == 0.4.25 ;python_version >= '3.4'
arrow == 0.8.0 ;python_version >= '3.4'
redis == 2.10.5 ;python_version >= '3.4'
celery == 3.1.23 ;python_version >= '3.4'
python-coveralls == 2.5.0 ;python_version >= '3.4'
